:root {
    font-family: sans-serif;
}

body {
    margin: 0;
}

li {
    list-style: none;
}

button {
    display: flex;
    gap: 4px;
    border: none;
    background: none;
    font-size: 18px;
    color: white;
    align-content: center;
    background: #c2c2c5;
    padding: 12px 16px;
    border-radius: 8px;
    font-weight: 300;
    transition: 0.2s opacity, 0.2s scale;

    &:disabled {
        opacity: 0.5;
    }

    &:enabled {
        cursor: pointer;
    }
}

input {
    padding: 12px;
    background: transparent;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 400px;
    font-size: 16px;

    &::placeholder {
        color: rgba(0, 0, 0, 0.3);
    }
}

/* Animation */
.blinking-text {
    animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.fade-in-up {
    opacity: 0; /* 처음에 투명하게 시작 */
    transform: translateY(20px); /* 약간 아래에서 시작 */
    animation: fadeInUp 1s ease-out forwards; /* 1초 동안 애니메이션 실행 */
}

@keyframes fadeInUp {
    to {
        opacity: 1; /* 완전히 보이게 */
        transform: translateY(0); /* 제자리로 이동 */
    }
}
@keyframes vibrate {
    0% { transform: translate(0); }
    25% { transform: translate(2px, 2px); }
    50% { transform: translate(0); }
    75% { transform: translate(-2px, -2px); }
    100% { transform: translate(0); }
}

.vibrate {
    animation: 0.1s linear 10;
}